In [1]:
import pandas as pd
data_df = pd.read_csv('https://data.austintexas.gov/api/views/ecmv-9xxi/rows.csv?accessType=DOWNLOAD')
data_df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description
0,Sonic,78748,08/18/2015,76,"155 W SLAUGHTER LN\nAUSTIN, TX 78748\n(30.1671...",2801018,Routine Inspection
1,Shady Springs Party Barn,78742,09/16/2016,86,"9401 SHERMAN RD\nAUSTIN, TX 78742\n(30.227378,...",2800696,Routine Inspection
2,Sezi,78745,07/05/2017,100,"1606 W STASSNEY LN Unit 1\nAUSTIN, TX 78745\n(...",11632241,Routine Inspection
3,Souper Salad,78753,11/21/2016,84,"12901 N IH 35 SVRD NB\nAUSTIN, TX 78753\n(30.4...",10598822,Routine Inspection
4,Senior Care of Onion Creek,78748,05/17/2016,97,"1700 ONION CREEK PKWY\nAUSTIN, TX 78748\n(30.1...",10530004,Routine Inspection

In [2]:
data_df['Coordinates']=data_df['Address'].apply(lambda s: s[s.find("(")+1:s.find(")")])
data_df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,Coordinates
0,Sonic,78748,08/18/2015,76,"155 W SLAUGHTER LN\nAUSTIN, TX 78748\n(30.1671...",2801018,Routine Inspection,"30.167171, -97.791485"
1,Shady Springs Party Barn,78742,09/16/2016,86,"9401 SHERMAN RD\nAUSTIN, TX 78742\n(30.227378,...",2800696,Routine Inspection,"30.227378, -97.666873"
2,Sezi,78745,07/05/2017,100,"1606 W STASSNEY LN Unit 1\nAUSTIN, TX 78745\n(...",11632241,Routine Inspection,"30.213367, -97.793265"
3,Souper Salad,78753,11/21/2016,84,"12901 N IH 35 SVRD NB\nAUSTIN, TX 78753\n(30.4...",10598822,Routine Inspection,"30.41288, -97.67306"
4,Senior Care of Onion Creek,78748,05/17/2016,97,"1700 ONION CREEK PKWY\nAUSTIN, TX 78748\n(30.1...",10530004,Routine Inspection,"30.138456, -97.802612"

In [3]:
new_df = data_df['Coordinates'].apply(lambda x: pd.Series([i for i in reversed(x.split(','))]))
data_df['Longitude']=new_df[0]
data_df['Latitude']=new_df[1]
data_df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,Coordinates,Longitude,Latitude
0,Sonic,78748,08/18/2015,76,"155 W SLAUGHTER LN\nAUSTIN, TX 78748\n(30.1671...",2801018,Routine Inspection,"30.167171, -97.791485",-97.791485,30.167171
1,Shady Springs Party Barn,78742,09/16/2016,86,"9401 SHERMAN RD\nAUSTIN, TX 78742\n(30.227378,...",2800696,Routine Inspection,"30.227378, -97.666873",-97.666873,30.227378
2,Sezi,78745,07/05/2017,100,"1606 W STASSNEY LN Unit 1\nAUSTIN, TX 78745\n(...",11632241,Routine Inspection,"30.213367, -97.793265",-97.793265,30.213367
3,Souper Salad,78753,11/21/2016,84,"12901 N IH 35 SVRD NB\nAUSTIN, TX 78753\n(30.4...",10598822,Routine Inspection,"30.41288, -97.67306",-97.67306,30.41288
4,Senior Care of Onion Creek,78748,05/17/2016,97,"1700 ONION CREEK PKWY\nAUSTIN, TX 78748\n(30.1...",10530004,Routine Inspection,"30.138456, -97.802612",-97.802612,30.138456

In [4]:
data_df['Date'] = pd.to_datetime(data_df['Inspection Date'])
data_df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,Coordinates,Longitude,Latitude,Date
0,Sonic,78748,08/18/2015,76,"155 W SLAUGHTER LN\nAUSTIN, TX 78748\n(30.1671...",2801018,Routine Inspection,"30.167171, -97.791485",-97.791485,30.167171,2015-08-18
1,Shady Springs Party Barn,78742,09/16/2016,86,"9401 SHERMAN RD\nAUSTIN, TX 78742\n(30.227378,...",2800696,Routine Inspection,"30.227378, -97.666873",-97.666873,30.227378,2016-09-16
2,Sezi,78745,07/05/2017,100,"1606 W STASSNEY LN Unit 1\nAUSTIN, TX 78745\n(...",11632241,Routine Inspection,"30.213367, -97.793265",-97.793265,30.213367,2017-07-05
3,Souper Salad,78753,11/21/2016,84,"12901 N IH 35 SVRD NB\nAUSTIN, TX 78753\n(30.4...",10598822,Routine Inspection,"30.41288, -97.67306",-97.67306,30.41288,2016-11-21
4,Senior Care of Onion Creek,78748,05/17/2016,97,"1700 ONION CREEK PKWY\nAUSTIN, TX 78748\n(30.1...",10530004,Routine Inspection,"30.138456, -97.802612",-97.802612,30.138456,2016-05-17

In [5]:
data_df['Year']=data_df['Date'].dt.year
data_df= data_df[data_df['Year']==2017]
data_df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,Coordinates,Longitude,Latitude,Date,Year
2,Sezi,78745,07/05/2017,100,"1606 W STASSNEY LN Unit 1\nAUSTIN, TX 78745\n(...",11632241,Routine Inspection,"30.213367, -97.793265",-97.793265,30.213367,2017-07-05,2017
5,Shake Shack The Domain Austin LLC,78758,01/03/2017,92,"11228 DOMAIN DR\nAUSTIN, TX 78758\n(30.398986,...",11388003,Routine Inspection,"30.398986, -97.725641",-97.725641,30.398986,2017-01-03,2017
9,Southpark Meadows Nursing & Rehabilitation Cen...,78748,05/04/2017,100,"9801 S 1ST ST\nAUSTIN, TX 78748\n(30.162129, -...",11283202,Routine Inspection,"30.162129, -97.800443",-97.800443,30.162129,2017-05-04,2017
11,Southwood Nursing Home,78704,04/11/2017,80,"3759 VALLEY VIEW RD\nAUSTIN, TX 78704\n(30.234...",2800455,Routine Inspection,"30.234977, -97.782522",-97.782522,30.234977,2017-04-11,2017
12,Simon's Cafe @ ACC,78736,01/31/2017,94,"7748 W US 290 HWY\nAUSTIN, TX 78736\n(30.22924...",2801991,Routine Inspection,"30.229242, -97.882968",-97.882968,30.229242,2017-01-31,2017

In [6]:
data_df = data_df[['Restaurant Name','Zip Code','Score','Latitude','Longitude','Year']]
data_df.head()

,Restaurant Name,Zip Code,Score,Latitude,Longitude,Year
2,Sezi,78745,100,30.213367,-97.793265,2017
5,Shake Shack The Domain Austin LLC,78758,92,30.398986,-97.725641,2017
9,Southpark Meadows Nursing & Rehabilitation Cen...,78748,100,30.162129,-97.800443,2017
11,Southwood Nursing Home,78704,80,30.234977,-97.782522,2017
12,Simon's Cafe @ ACC,78736,94,30.229242,-97.882968,2017

In [7]:
data_df['Zip Code'] = data_df['Zip Code'].str[-5:]

In [8]:
data_df['Zip Code'] = data_df['Zip Code'].astype(str).astype(int)
data_df['Latitude'] = pd.to_numeric(data_df['Latitude'], errors='coerce').fillna(0)
data_df['Longitude'] = pd.to_numeric(data_df['Longitude'], errors='coerce').fillna(0)
data_df.dtypes

Restaurant Name     object
Zip Code             int64
Score                int64
Latitude           float64
Longitude          float64
Year                 int64
dtype: object

In [9]:
final_df = data_df.groupby(['Restaurant Name','Year','Zip Code'],as_index = False).mean()
final_df.head()

             Restaurant Name  Year  Zip Code  Score   Latitude  Longitude
0  "CB's" at Stubb's Bar-B-Q  2017     78701  100.0  30.269075 -97.736231
1              'Bout Time II  2017     78752   92.0  30.327615 -97.705496
2          1-Stop Food Store  2017     78751   95.0  30.312363 -97.715363
3           15th Street Cafe  2017     78701   99.0  30.277693 -97.742469
4     183 Grill Austin Gyros  2017     78729   95.0   0.000000   0.000000

In [10]:
available_zipcode = final_df['Zip Code'].unique()
available_zipcode.sort()
available_zipcode

array([78610, 78613, 78615, 78617, 78620, 78641, 78652, 78653, 78654,
       78660, 78669, 78701, 78702, 78703, 78704, 78705, 78717, 78719,
       78721, 78722, 78723, 78724, 78725, 78726, 78727, 78728, 78729,
       78730, 78731, 78732, 78733, 78734, 78735, 78736, 78737, 78738,
       78739, 78741, 78742, 78744, 78745, 78746, 78747, 78748, 78749,
       78750, 78751, 78752, 78753, 78754, 78756, 78757, 78758, 78759])

In [11]:
final_df['Restaurant Name'] = 'Restaurant Name:' + final_df['Restaurant Name'].astype(str)
final_df.head()

,Restaurant Name,Year,Zip Code,Score,Latitude,Longitude
0,"Restaurant Name:""CB's"" at Stubb's Bar-B-Q",2017,78701,100.0,30.269075,-97.736231
1,Restaurant Name:'Bout Time II,2017,78752,92.0,30.327615,-97.705496
2,Restaurant Name:1-Stop Food Store,2017,78751,95.0,30.312363,-97.715363
3,Restaurant Name:15th Street Cafe,2017,78701,99.0,30.277693,-97.742469
4,Restaurant Name:183 Grill Austin Gyros,2017,78729,95.0,0.000000,0.000000

In [12]:
final_df['Restaurant Name'] = final_df['Restaurant Name'].astype(str) + ', Inspection Score:'+  final_df['Score'].astype(str)
final_df.head()

,Restaurant Name,Year,Zip Code,Score,Latitude,Longitude
0,"Restaurant Name:""CB's"" at Stubb's Bar-B-Q, Ins...",2017,78701,100.0,30.269075,-97.736231
1,"Restaurant Name:'Bout Time II, Inspection Scor...",2017,78752,92.0,30.327615,-97.705496
2,"Restaurant Name:1-Stop Food Store, Inspection ...",2017,78751,95.0,30.312363,-97.715363
3,"Restaurant Name:15th Street Cafe, Inspection S...",2017,78701,99.0,30.277693,-97.742469
4,"Restaurant Name:183 Grill Austin Gyros, Inspec...",2017,78729,95.0,0.000000,0.000000

In [13]:
final_df2 = final_df[['Restaurant Name','Zip Code','Latitude','Longitude']]
final_df2.head()

,Restaurant Name,Zip Code,Latitude,Longitude
0,"Restaurant Name:""CB's"" at Stubb's Bar-B-Q, Ins...",78701,30.269075,-97.736231
1,"Restaurant Name:'Bout Time II, Inspection Scor...",78752,30.327615,-97.705496
2,"Restaurant Name:1-Stop Food Store, Inspection ...",78751,30.312363,-97.715363
3,"Restaurant Name:15th Street Cafe, Inspection S...",78701,30.277693,-97.742469
4,"Restaurant Name:183 Grill Austin Gyros, Inspec...",78729,0.000000,0.000000

In [14]:
final_df2 = final_df2[final_df2.Latitude != 0]
final_df2 = final_df2[final_df2.Longitude !=0]
final_df2.head()

,Restaurant Name,Zip Code,Latitude,Longitude
0,"Restaurant Name:""CB's"" at Stubb's Bar-B-Q, Ins...",78701,30.269075,-97.736231
1,"Restaurant Name:'Bout Time II, Inspection Scor...",78752,30.327615,-97.705496
2,"Restaurant Name:1-Stop Food Store, Inspection ...",78751,30.312363,-97.715363
3,"Restaurant Name:15th Street Cafe, Inspection S...",78701,30.277693,-97.742469
5,"Restaurant Name:1st Food Mart, Inspection Scor...",78704,30.250229,-97.754856

In [15]:
final_df2.rename(columns={'Restaurant Name': 'Restaurant'}, inplace=True)
final_df2.Restaurant.count()

4458